<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css" />
</head>
<%- include('../includes/nav.ejs') %>
<main> 
  <div class="container">
    <div class="row justify-content-start"> 
      <div class="col-4">
        <form action="/admin/<% if (editing) { %>edit-produks<% } else { %>data<% }  %>" method="POST">
          <input
            type="text" 
            class="form-control"
            name="Nama Produk"
            placeholder="Masukan Nama Produk"
            id="namaProduk"
            value="<% if (editing) { %><%= produk.namaProduk %> <% } %>"
            required
          /> 
            
          <input
            type="text"
            class="form-control"
            name="Gambar Produk"
            placeholder="Masukan Gambar url"
            id="gambarProduk" 
            required
            value="<% if (editing) { %><%= produk.gambarurl %> <% } %>" 
          />

          <input
            type="number"
            min="50"
            class="form-control"
            name="Harga Produk"
            placeholder="<% if (editing) { %><%= produk.harga %><% } else { %>Masukan Harga Produks<% } %>"
            id="hargaProduk"
            required
              value="<% if (editing) { %><%= produk.harga %> <% } %>"
          />

          <div class="form-control">
            <textarea
              placeholder="<% if (editing) { %><%= produk.deskripsi %><% } else { %>Deskripsi Produks<% } %>"
              name="deskripsi"
              id="deskripsi"
              cols="40"
              rows="5"
              value="wkwkw"
              required
            ></textarea>
          </div> 

          <button type="submit" class="btn btn-success"><% if (editing) { %>
          Edit Produk
          <% } else {%> Tambah Produk<%} %></button>
        </form> 
      </div>
    </div>
  </div>
</main>
<%- include('../includes/end.ejs') %>
