<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css" />
</head>
<%- include('../includes/nav.ejs') %>
<main> 
  <div class="container">
    <div class="row justify-content-start"> 
      <div class="col-4">
        <br>
        <% if (datass) { %>
          <div class="alert alert-danger" role="alert">
              <h1><%= datass %> </h1>
          </div>
      <% } %>
        <form action="/admin/<% if (editing) { %>edit-produks<% } else { %>data<% }  %>" method="POST" enctype="multipart/form-data">
          <input
            type="text"
            value="<% if (editing  || errors) { %><%= produk.namaProduk %><% } %>"
            class="form-control <%= border.find(e => e.param === 'namaProduk') ? 'bordermerah' : '' %>"
            name="namaProduk"
            placeholder="Masukan Nama Produk"
            id="namaProduk"
            required 
          /> 
            
          <!-- <input
            type="text"
            value="<% if (editing) { %><%= produk.gambarProduk %><% } %>"
            class="form-control <%= border.find(e => e.param === 'gambarProduk') ? 'bordermerah' : '' %>"
            name="gambarProduk"
            placeholder="Masukan Gambar url"
            id="gambarProduk" 
            required
          />   -->

              <input
            type="file"
            class="form-control"
            name="gambar"
            placeholder="Masukan Gambar"
            id="gambar"
          />
  
          <input
            type="number"
            min="50"
            class="form-control"
            name="hargaProduk"
            placeholder="<% if (editing  || errors) { %><%= produk.hargaProduk %><% } else { %>Masukan Harga Produks<% } %>"
            id="hargaProduk"
            required
            value="<% if (editing  || errors) { %><%= produk.hargaProduk %> <% } %>"
          />

          <div class="form-control <%= border.find(e => e.param === 'deskripsi') ? 'bordermerah' : '' %>"> 
            <textarea
              placeholder="<% if (editing  || errors) { %><%= produk.deskripsi %><% } else { %>Deskripsi Produks<% } %>"
              name="deskripsi"
              class="<%= border.find(e => e.param === 'deskripsi') ? 'bordermerah' : '' %>"
              id="deskripsi"
              cols="40"
              rows="5"
              value="wkwkw" 
              required
            ></textarea>
          </div>

        <% if (editing) { %>
        <input type="hidden" value="<%= produk._id %>" name="idProduk">
        <% } %>
        
        <% if (editing) { %>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <% } else {%>  <input type="hidden" name="_csrf" value="<%= csrfToken %>"> <%} %></button>

          
          <button type="submit" class="btn btn-success"><% if (editing) { %>
          Edit Produk
          <% } else {%> Tambah Produk<%} %></button>
        </form> 
      </div>
    </div>
  </div>
</main>
<%- include('../includes/end.ejs') %>
