<%- include('../includes/head.ejs') %>
</head>
<%- include('../includes/nav.ejs') %>
<!--  -->
<div class="container">
    <main>
        <br>
        <br>
        <% if (produks.length > 0 ) { %>

        <% produks.forEach(e => { %>
                    <div class="row justify-content-md-start align-items-center">
                    <div class="col">
                    <div class="row align-items-center">
                            <div class="col col-lg-6 d-flex justify-content-end">
                                <img src="<%= e.gambarProduk %>" alt="gambar" height="100px" width="155px">
                            </div>
                            <div class="col-md-6 d-flex justify-content-start">
                                <p class="lead"><%= e.namaProduk %></p>
                            </div>
                    </div>
                    </div>
                    <div class="col">
                    
                        <div class="row align-items-center">
                            <div class="col col-lg-5 d-flex justify-content-start">
                                <p class="lead">Rp.<%= e.hargaIndo%></p>
                            </div>
                            <div class="col-md-6  d-flex justify-content-center">
                                <p class="lead">(<%= e.quantity %>) Quantity</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <form action="/cart/delete-item" method="POST">
                            <input type="hidden" value="<%= e._id %> " name="prodIds">
                            <button class="btn btn-danger" type="submit" >Hapus</button>
                        </form>
                    </div>
                    </div>
                    <br> <br>
            <% }) %>
            <hr>
            <br>
            <br>
            <div class="row justify-content-md-start align-items-center">
                <div class="col col-lg-6">
                    <form action="/order-data" method="POST">
                        <button class="btn btn-outline-dark position-absolute top-90 start-50 translate-middle" type="submit">BELI BARANG ! </button>
                    </form>
                </div>

                <div class="col-md-6  d-flex justify-content-center">
                    <p class="lead">Total Harga : Rp.<%= produksd.keranjang.totalHarga %>  </p>
                </div>
            </div>
            <% } else {%> <h1>Data Tidak ada</h1> <% } %> 
    </main>
</div>
<%- include('../includes/end.ejs') %>  