<%- include('../includes/head.ejs') %>
</head>
<%- include('../includes/nav.ejs') %>
<!--  -->
<div class="container">
    <main>
        <br>
        <% if (produks.length > 0 ) { %>

        <% produks.forEach(e => { %>
            <ol style="list-style-type:inherit">
                <li id="hapuscart">
                    <p>
                        <%= e.namaProduk %> <%= e.cartitem.quantity %>
                    </p>
                    <form action="/cart/delete-item" method="POST">
                        <input type="hidden" value="<%= e.id %> " name="prodId">
                        <button class="btndata" >Delete</button>
                    </form>
                </li>
            </ol>
            <% }) %>
            <% } else {%> <h1>Data Tidak ada</h1> <% } %> 
    </main>
</div>
<%- include('../includes/end.ejs') %>  