<%- include('../includes/head.ejs') %>
</head>
<%- include('../includes/nav.ejs') %>
<br>
<div class="container">
    <main>
        <% if (orders.length <= 0) { %>
            <h1> <i> Tidak Ada Pembelian !</i> </h1> 
        <% } else { %>
            <div class="row justify-content-center">
                <% orders.forEach(order => { %>
                        <div class="card border-danger m-3 " style="max-width: 22rem;">
                            <div class="card-header bg-transparent border-danger">Bayar Sebelum : <strong> <%= order.waktuBatasPembayaran %> </strong></div>
                            <div class="card-body order-body">
                            <p class="card-title">Kode Pembayaran : <%= order._id %> </p>
                            <br>
                            <p class="card-text">Transfer Ke : 3743859658</p>
                            <br>
                            <p class="card-text">Total Harga : Rp. <%= order.totalHarga %> </p>
                            <br>
                            <br>
                            <a class="btn btn-primary btn-sm" href="/orders/<%= order._id %> ">Invoice</a>
                            </div>
                            <div class="card-footer bg-transparent border-danger">Masneno Online Shop</div>
                        </div>
                <% }); %>
            </div>
        <% } %>
    </main>
</div>
<%- include('../includes/end.ejs') %>  