<%- include('../includes/head.ejs') %> 
<link rel="stylesheet" href="/css/produksid.css" />
</head>
<%- include('../includes/nav.ejs') %>

        <div class="container">
        <main class="list">
            <br>
            <h1 class="display-5"><%= produk.namaProduk %></h1>
            <hr />
            <div>
            <img src="<%= produk.gambarProduk %> " alt="" width="250px" height="300px" />
            </div>
            <br />
            <p class="deskripsi"><%= produk.deskripsi%></p>
            <br /><br />
            <div class="tombol">
            <button class="btn btn-outline-primary">Rp. <%= produk.hargaProduk %></button>
            <% if (hapus) { %>
                <form action="/admin/hapus-produks" method="POST">
                    <input type="hidden" name="id" value="<%= produk.id %>" />
                    <button class="btn btn-outline-danger" type="submit ">
                        Hapus Produk
                    </button>
                </form>
            <% } else {%>  <%- include('../includes/add-list-cart.ejs') %> <%} %>
    
            </div>
        </main> 
    </div>  

<%- include('../includes/end.ejs') %>
